extends ../layouts/common
block header
    include ../layouts/header
block content
    .w-75.p-3.h-65.container
        form.mt-5
        p Carousel
        p= carousels[0].name
            .form-group
                label(style="font-weight:bold;font-size:20px") Carousel 1:
                input#file.ml-5(type='file')
            .form-group
                label(style="font-weight:bold;font-size:20px") Carousel 2:
                input#file.ml-5(type='file')
            .checkbox
                label(style="font-weight:bold;font-size:20px") Carousel 3:
                input#file.ml-5(type='file')
            button.btn.btn-primary.mt-5(type='submit') Submit
block footer    
    //include ../layouts/footer