.card-deck.mt-5
    .card.bg.m-0.border-0
        .card-body.text-center.p-0
            a(href='/products/').img__wrap
                img.opacity.img-pro.card-img-top(src='../imgs/cate1.jpg', alt='')
                <p class="img__description">This image looks super neat.</p>
    .card.bg.m-0.border-0
        .card-body.text-center.p-0
            a(href='/products/').img__wrap
                img.opacity.img-pro.card-img-top(src='../imgs/cate2.jpg', alt='')
                <p class="img__description">This image looks super neat.</p>
    .card.bg.m-0.border-0
        .card-body.text-center.p-0
            a(href='/products/').img__wrap
                img.opacity.img-pro.card-img-top(src='../imgs/cate3.jpg', alt='')
                <p class="img__description">This image looks super neat.</p>
