html
    head
        meta(name='google-signin-client_id', content='252683018186-it9afv2jr1ll4mdv47gqko4g1fs2jq6c.apps.googleusercontent.com')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        //slide
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        script(src='https://apis.google.com/js/platform.js', async='', defer='')
        script(src='/script/javascript.js')
        style
            include ../css/style.css
            include ../css/admin.style.css

        
    body
        block header
        block content
            block intro
            block category
            block list-products
        block footer
    //- script
    //-     include ../script/javascript.js     