footer.page-footer.cyan.darken-3
    .container
        ul.list-inline.text-center
            a.fa.fa-facebook(href='#')
            a.fa.fa-twitter(href='#')
            a.fa.fa-google(href='#')
            a.fa.fa-youtube(href='#')
            a.fa.fa-instagram(href='#')