nav(style="background:white !important").navbar.navbar-expand-lg.navbar-light.bg-light
        .navbar-brand(href='#',style='width:25% !important;height:80%')
            img.img-pro.card-img-top(src='./imgs/logo.png',style='width:50%;height:25%')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/').pr-5
                        | Home 
                        span.sr-only (current)
                li.dropdown.nav-item.active
                    a.nav-link(href='#').pr-5
                        | Home 
                        span.sr-only (current)
                    .dropdown-content
                        a(href='#') Link 1
                        a(href='#') Link 2
                        a(href='#') Link 3
                li.nav-item.active
                    a.nav-link(href='#').pr-5
                        | Home 
                        span.sr-only (current)        
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search