extends ./layouts/common
block header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') NaMu Shop
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Dropdown
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        .dropdown-divider
                        a.dropdown-item(href='#') Something else here
                li.nav-item
                    a.nav-link.disabled(href='#') Disabled
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
block content
    .w-75.p-3.container
        .card-group
            .card
                img.card-img-top(src='.../100px180/', alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Last updated 3 mins ago
            .card
                img.card-img-top(src='.../100px180/', alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text This card has supporting text below as a natural lead-in to additional content.
                .card-footer
                    small.text-muted Last updated 3 mins ago
            .card
                img.card-img-top(src='.../100px180/', alt='Card image cap')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                .card-footer
                    small.text-muted Last updated 3 mins ago
block footer
    footer.page-footer.cyan.darken-3
        .container
            ul.list-inline.text-center
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
                a.fa.fa-google(href='#')
                a.fa.fa-youtube(href='#')
                a.fa.fa-instagram(href='#')


