extends ./layouts/common
block header
    include ./layouts/header
block content
    block intro
        .h-65.container(style="width:100% !important;padding:0 !important;margin:0;max-width:2000px;height:500px")
            #demo.h-30.carousel.slide(data-ride='carousel')
                ul.carousel-indicators
                    li.active(data-target='#demo', data-slide-to='0')
                    li(data-target='#demo', data-slide-to='1')
                    li(data-target='#demo', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img(src=""+carousels[carousels.length-1].path,style='width:100%' , height='100%')
                    .carousel-item
                        img(src=""+carousels[carousels.length-2].path,style='width:100%' , height='100%')
                    .carousel-item
                        img(src=""+carousels[carousels.length-3].path,style='width:100%' , height='100%')
                a.carousel-control-prev(href='#demo', data-slide='prev')
                    span.carousel-control-prev-icon
                a.carousel-control-next(href='#demo', data-slide='next')
                    span.carousel-control-next-icon
    block list-products
        .w-75.p-3.container
            each row in products
                .card-deck.mt-3
                    each col in row
                        if col !=null
                            .card.bg
                                .card-body.text-center.p-0
                                    a(href='/products/'+col._id)
                                        img.img-pro.card-img-top(src=''+col.path, alt=''+col.name)
                                    a.w-100.btn(href='/products/'+col._id, role='button') #{col.name}
                                    a.w-100.btn(href='/products/'+col._id, role='button') #{col.price}
                        if(col==null)
                            .card.bg.null-pro
                                .card-body.text-center.p-0
block footer
    include ./layouts/footer
    


