extends ../layouts/common
block header
    include ../layouts/header
block content
    .w-75.p-3.container
        .row
            .col-sm-10
                h1 #{user.displayName}
                img.w-25.h-25.avatar.img-circle.img-thumbnail(src=''+user.photos, alt='avatar') 

        form#registrationForm.form(action="/user/detail",method="POST")
            .form-group
                .col-xs-6
                    label(for='first_name')
                        h4 First name
                    input#first_name.form-control(type='text', name='first_name', placeholder='first name', title='enter your first name if any.')
            .form-group
                .col-xs-6
                    label(for='last_name')
                        h4 Last name
                    input#last_name.form-control(type='text', name='last_name', placeholder='last name', title='enter your last name if any.')
            .form-group
                .col-xs-6
                    label(for='phone')
                        h4 Phone
                    input#phone.form-control(type='text', name='phone', placeholder='enter phone', title='enter your phone number if any.')
            .form-group
                .col-xs-6
                    label(for='mobile')
                        h4 Mobile
                    input#mobile.form-control(type='text', name='mobile', placeholder='enter mobile number', title='enter your mobile number if any.')
            .form-group
                .col-xs-6
                    label(for='email')
                        h4 Email
                    input#email.form-control(type='email', name='email', placeholder='you@email.com', title='enter your email.')
            .form-group
                .col-xs-6
                    label(for='email')
                        h4 Location
                    input#location.form-control(type='email', placeholder='somewhere', title='enter a location')
            .form-group
                .col-xs-12
                    br
                    button.btn.btn-lg.btn-success(type='submit')
                        i.glyphicon.glyphicon-ok-sign
                        |  Save
                    button.btn.btn-lg(type='reset')
                        i.glyphicon.glyphicon-repeat
                        |  Reset

block footer    
    include ../layouts/footer