extends ../layouts/common
block header
    include ../layouts/header
block content
    a.btn.btn-block.btn-social.btn-google(href="/user/login/google")
        span.fa.fa-google.w-50  Sign in with Twitter
block footer
    include ../layouts/footer