extends ../layouts/common
block header
    include ../layouts/header
block content
    .w-75.p-3.container
        table#cart.table.table-hover.table-condensed
            thead
                tr
                    th(style='width:50%') Product
                    th(style='width:10%') Price
                    th(style='width:8%') Quantity
                    th.text-center(style='width:22%') Total Count
                    th.text-center(style='width:22%') Subtotal
                    th(style='width:10%')
            tbody
                tr
                    td(data-th='Product')
                        .row
                            .col-sm-2.hidden-xs
                                img.detail-pro.img-responsive(src='../'+detail.path,style="width:400px,height:700px")
                        .col-sm-10
                            h4.nomargin #{detail.name}
                            p #{detail.detail}
                    td.pt-3(data-th='Price') $#{detail.price}
                    td(data-th='Quantity')
                        input.form-control.text-center(type='number', value='1')
                    td.pt-3.text-center(data-th='Subtotal') #{detail.count}
                    td(data-th='TotalCount')
                        input.form-control.text-center(type='number', value='1')
                    td.pt-3.text-center(data-th='Subtotal') 150.00
                    td.actions(data-th='')
                        button.btn.btn-info.btn-sm
                             i.fa.fa-refresh
                        button.btn.btn-danger.btn-sm
                             i.fa.fa-trash-o
            tfoot
                tr.visible-xs
                    td.text-center
                        strong Total 1.99
                tr
                    td
                        button.btn-back.btn.btn-primary(type='button') Primary
                    td.hidden-xs(colspan='4')
                    td.hidden-xs.text-center
                        strong Total $150.00
                    td
                        button.w-100.btn.btn-primary(type='button') Primary
block footer    
    include ../layouts/footer